@use 'styles' as *;
.bg {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.wrapper {
  color: $color-white;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  position: relative;
}
.imgPlanetRight {
  position: fixed;
  top: 255px;
  right: 5%;
  mix-blend-mode: screen;
}
.imgPlanetLeftBottom {
  position: fixed;
  left: 0;
  bottom: -5px;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo {
  margin-bottom: 60px;
}
.title {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 800;
  position: relative;
  margin-bottom: 64px;
  > p {
    display: inline;
  }

  .textContainer {
    position: relative;
  }
  &::after {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(82, 255, 0, 0.1) 0%,
      rgb(82, 255, 0) 15%,
      rgb(82, 255, 0) 50%,
      rgb(82, 255, 0) 85%,
      rgba(82, 255, 0, 0.1) 100%
    );
    box-shadow: 0px 0px 16px rgb(82 255 0 / 80%);
  }
}
.greenTitle {
  display: inline;
  color: $color-green-lime;
  position: relative;

  z-index: 1;
  .greenTextBorder {
    display: block;
    color: $color-black;
    text-shadow: -2px 2px 0 $color-green-lime, 2px 2px 0 $color-green-lime,
      2px -2px 0 $color-green-lime, -2px -2px 0 $color-green-lime,
      0px 0px 8px $color-green-lime;
    opacity: 0.3;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: -1;
  }
  &.greenLightBorder {
    text-shadow: -1px 1px 0 $color-green-lime, 1px 1px 0 $color-green-lime,
      1px -1px 0 $color-green-lime, -1px -1px 0 $color-green-lime,
      0px 0px 16px $color-green-lime;
  }
}
.formContainer {
  z-index: 1;
  position: relative;
  width: 954px;
  height: 346px;
  display: flex;
  padding: 80px 120px 80px 120px;
  flex-direction: column;
  background: $color-bg-form;
  border: 1px solid $color-white-015;
  border-radius: 18px;
  &.emailSended {
    height: 494px;
  }
}
.form {
  height: 64px;
  position: relative;
  border-radius: 9px;

  width: 712px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  font-size: 18px;
  box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.3);
  .wrapperInput {
    display: flex;
    flex-direction: row;
  }
}

.bgPasswordRecovery {
  position: absolute;
  top: -17px;
  left: -17px;
}
.errorsMessage {
  position: absolute;
  margin-top: 20px;
  color: $color-red-3d;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  .buttonRestorePassword {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &.emailSended {
    margin-top: 55px;
  }
  &.emailEnter {
    margin-top: 52px;
  }
}

.emailSendContainer {
  background: $color-black-gray;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 954px;
  height: 494px;
  padding: 61px 80px 80px 80px;
  border: 1px solid $color-white-015;
  border-radius: 18px;
}
.emailSendInfo {
  font-size: 32px;
  line-height: 38.4px;
  text-align: Center;
  font-family: $neuePlain;
  span {
    font-weight: 800;
    color: $color-green-lime;
  }
}

.topLine,
.bottomLine {
  position: absolute;
  content: '';
  left: 50%;
  transform: translateX(-50%);
  width: 642px;
  height: 12px;
  display: flex;
  justify-content: center;
  z-index: 11;
}

.topLine {
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;

  > .topLineInner {
    height: 6px;
    width: calc(100% - 10px);
    background-color: $color-green-lime;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 0px 16px $color-green-lime;
  }
}

.bottomLine {
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-left: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.15);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  > .bottomLineInner {
    height: 6px;
    width: calc(100% - 10px);
    background-color: $color-green-lime;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0px 0px 16px $color-green-lime;
    margin-top: auto;
  }
}

.leftLine,
.rightLine {
  position: absolute;
  width: 13px;
  height: 192px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 11;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.leftLine {
  left: -1px;
  border-radius: 0px 50px 50px 0px;
  display: flex;
  align-items: center;

  &.emailSended {
    top: 36%;
  }

  > .leftLineInner {
    width: 7px;
    height: 182px;
    z-index: 1;

    background: $color-green-lime;
    opacity: 0.3;
    box-shadow: 0px 0px 16px $color-green-lime;
    border-radius: 0px 50px 50px 0px;
  }
}

.rightLine {
  right: -1px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &.emailSended {
    top: 36%;
  }
  > .rightLineInner {
    width: 7px;
    height: 182px;
    z-index: 1;

    background: $color-green-lime;
    opacity: 0.3;
    box-shadow: 0px 0px 16px $color-green-lime;
    border-radius: 50px 0px 0px 50px;
  }
}

@include mobile-tablet {
  .wrapper {
    padding: 155px 0;
  }

  .logo {
    margin-bottom: 70px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 32px;
  }
  .greenTitle {
    display: block;
    padding: 0 10px;
    .greenTextBorder {
      right: 10px;
    }
  }
  .formContainer {
    margin: 0px 65px;
    min-width: 240px;
    max-width: 288px;
    align-items: center;
    height: 211px;
    padding: 24px 16px 55px 16px;
    &.emailSended {
      height: 313px;
      padding: 36px 16px 40px 16px;
    }
    .emailSendInfo {
      font-size: 16px;
      line-height: 19.2px;
    }
    .buttonContainer {
      margin-top: 28px;
      .buttonRestorePassword {
        font-size: 15px;
      }
    }
  }

  .form {
    max-width: 256px;
  }

  .topLine,
  .bottomLine {
    position: absolute;
    content: '';
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 12px;
    display: flex;
    justify-content: center;
    z-index: 11;
  }
  .errorsMessage {
    font-size: 10px;
    margin-top: 10px;
    color: $color-red-3d;
  }
  .imgPlanetRight {
    top: -9%;
    right: -25%;
    width: 55%;
  }
  .imgPlanetLeftBottom {
    width: 55%;
  }
}
@include big-tablet {
  .title {
    font-size: 42px;
  }
  .formContainer {
    max-width: 640px;
    padding: 60px 35px 20px 35px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .form {
    width: 470px;
    label {
      font-size: 16px;
      flex-basis: 35%;
    }
    input {
      width: 100%;
    }
    .buttonContainer {
      &.emailEnter {
        margin-top: 80px;
      }
    }
  }
  .topLine,
  .bottomLine {
    width: 75%;
  }
  .imgPlanetRight {
    right: -20%;
  }
}

@include mobile {
  .logo {
    margin-bottom: 16px;
  }
}

@include laptop {
  .imgPlanetRight {
    top: 200px;
    right: -250px;
  }
}
