@use 'styles' as *;

.filterTabs {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 2;

    > * {
        margin: 5px;
        width: 23%;
    }

    @include mobile-big-tablet {
        > * {
            width: 45%;
        } 
    }
}