@use 'styles' as *;

.filterTab {
    display: flex;
    align-items: center;
    cursor: pointer;

    background: $color-white-007;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border: 3px solid transparent;
    border-radius: 18px;
    padding: 0 1.5em 0 0.4em;
    color: $color-white;
    font-size: 24px;

    @media (max-width:768px) {
        flex-wrap: wrap;
    }

    &.active {
        background: $color-green-015;
        border: 3px solid $color-green-05;

        color: $color-green-lime  !important;

        .filterTabLabel {
            font-weight: $fw-extrabold;
        }

        .filterTabCount {
            text-shadow: 0px 0px 16px $color-green-08
        }
    }

    &:not(.active) .filterTabCount {
        opacity: 0.5;
    }

    @include mobile-big-tablet {
        padding: 0;

        .filterTabLabel {
            width: 100%;
            font-size: 16px;
        }

        .filterTabCount {
            padding-left: 0.8em;
            font-weight: $fw-extrabold;
            opacity: 1 !important;
            transform: translateY(-10px);
        }

        .mobileAndTabletBreak {
            flex-basis: 100%;
            height: 0;
        }
    }

    .filterTabHeader {
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
}